/* DEFINIÇÕES GLOBAIS ........................................ */
:root {
  --red: #cc0d1f;
  --red-dark: #9f000f;
  --clean: #fff;
  --black: #000;
  --gray-1: #e2dedb;
  --gray-2: #808185;
  --color-1: #cc0d1f;
  --color-2: #f36324;
  --color-3: #80bdb8;
  --color-4: #319990;
  --color-Preta: #1c1619;
  --color-Laranja: #f36324;
  --color-Amarela: #ffd600;
  --color-Cinza: #cecece;
  --color-Azul: #0061f3;
  --color-Preto: #000;
  --color-Bege: #ffe0d3;
  --color-Rosa: #ff0099;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}
#root {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1440px) 1fr;
}

p {
  font-size: 1.5rem;
  line-height: 3rem;
}
h1 {
  font-size: 3rem;
  padding: 3rem 0;
}
.x-gap {
  width: 100%;
  display: block;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* INPUTS, BUTTONS, SELECTS & ETC ........................................ */
input {
  width: 100%;
  min-width: 25rem;
  max-width: 50rem;
  padding: 1rem;
  border: 1px solid #000;
  outline: none;
}
input:hover {
  border: 1px solid var(--red);
}

button {
  background-color: var(--red);
  padding: 1rem;
  font-weight: 600;
  color: var(--clean);
  width: 10rem;
  cursor: pointer;
  border: 0;
}
button:hover {
  background-color: var(--red-dark);
}
select {
  font-size: 1rem;
  padding: 0.4rem;
  width: 15rem;
  border-radius: 0.5rem;
}
/* HEADER ........................................ */
header {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: inherit;
}
.header-container {
  grid-column: 1/4;
  display: inherit;
  grid-template-columns: inherit;
}

.header-content {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
  padding: 2rem;
}
.login-bar-container {
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1/4;
  background-color: var(--black);
}
.login-bar {
  grid-column: 2/3;
  color: var(--clean);
  font-size: 1.4rem;
  padding: 1rem 2rem;
  text-align: right;
}
/* MENU ........................................ */
.menu-header-container {
  grid-column: 1/4;
  background-color: var(--red);
  display: inherit;
  grid-template-columns: inherit;
}
.menu-header {
  grid-column: 2/3;
}
.menu-header ul {
  display: flex;
  margin-left: 2rem;
  height: 5rem;
  align-items: center;
  text-transform: uppercase;
}
.menu-header ul li {
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--clean);
}

.menu-header ul li:hover {
  background-color: var(--red-dark);
}

.link-menu-ativo {
  background-color: var(--red-dark);
  text-decoration: none;
  color: var(--clean);
}
.search-bar {
  display: flex;
}
.menu-icon {
  display: none;
}
.search-icon {
  display: none;
}
/* SIDEBAR & MENUS ........................................ */

.menu-sidebar {
  background-color: var(--gray-1);
  color: var(--black);
  font-size: 2rem;
  width: 25rem;
  height: 100%;
}
.menu-sidebar nav ul {
  padding: 2rem;
}
.menu-sidebar nav ul li {
  padding: 1rem;
  font-size: 2rem;
}
.menu-sidebar nav ul li:hover {
  background-color: var(--clean);
}
/* FILTERS SIDEBAR ........................................ */
.filter-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 100%;
}
.filter-sidebar {
  border: 1px solid var(--gray-1);
  font-size: 1.5rem;
  color: var(--black);
  padding: 1.2rem;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  border-top: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
  margin-bottom: 2rem;
}
.filter-list-categories {
  color: var(--black);
  margin: 1rem 0 0 1.5rem;
  list-style: circle;
}
.filter-list-categories:hover {
  color: var(--red);
}
.filter-list-type {
  color: var(--black);
  margin: 1rem 0 0 1.5rem;
  list-style: circle;
}
.filter-description {
  padding: 0 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.filters-select {
  display: flex;
}
.view-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
}
.view-icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--gray-2);
  cursor: pointer;
}
.view-icon:hover {
  opacity: 0.8;
}
.view-icon-ativo {
  fill: var(--color-3);
}
h1.title-product {
  font-weight: 400;
  color: var(--red);
}
h2.filter-title {
  color: var(--red);
}
h3.filter-subtitle {
  margin: 1rem 0;
  color: var(--color-3);
}
.color-pick {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2px;
}
.color-pick li {
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  background-color: aliceblue;
}

.color-pick li:hover {
  border: 2px solid var(--gray-1);
}
.gender {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2px;
}
.gender li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 5rem;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--color-bege);
}

.gender li:hover {
  border: 2px solid var(--gray-1);
}
/* PRODUCTS ........................................ */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  gap: 6rem 2rem;
  justify-content: space-between;
}
.products li {
  text-align: center;
  text-transform: uppercase;
  width: 16rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  width: 16rem;
  height: 18rem;
  border: 1px solid var(--gray-1);
}
.product-title {
  color: var(--gray-2);
  margin: 0.6rem;
  line-height: 2rem;
  display: inline-block;
  word-wrap: break-word;
}
.product-price {
  font-weight: 700;
  color: var(--red);
  display: flex;
  flex-direction: column;
  line-height: 1rem;
}
.product-price-special {
  font-weight: 300;
  color: var(--gray-2);
  font-size: 1.2rem;
  text-decoration: line-through;
  position: relative;
  bottom: 5px;
}
button.product-buy {
  border-radius: 0.6rem;
  color: var(--clean);
  width: 100%;
  background-color: var(--color-3);
}
button.product-buy:hover {
  background-color: var(--color-4);
}
/* BREADCRUMBS (NAVIGATION INFO) ........................................ */
.navigation {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.navigation-point {
  color: var(--red);
}
/* CONTENT & SECTION  ........................................ */
.content {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--clean);
}
section {
  width: 100%;
}
.banner {
  background-image: url(./Pages/Home/bannerWebJump.jpg);
  background-size: cover;
  width: 100%;
  height: 22rem;
}
/* FOOTER ........................................ */
footer {
  color: var(--clean);
  grid-column: 2/3;
  height: 20rem;
  background-color: var(--red);
}

@media only screen and (max-width: 1024) {
  .products {
    grid-template-columns: repeat(auto-fill, 15rem);
    gap: 6rem 2rem;
  }
  .products li {
    width: 15rem;
    height: 25rem;
  }

  .product-img {
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fill, 13rem);
    gap: 6rem 1rem;
  }
  .products li {
    width: 13rem;
    height: 25rem;
  }

  .product-img {
    width: 13rem;
    height: 13rem;
  }
}

@media only screen and (max-width: 320px) {
  .header-content {
    padding: 0 2rem;
    height: 8rem;
  }
  .menu-icon {
    width: 3rem;
    fill: var(--black);
    margin-right: 3rem;
    cursor: pointer;
    display: block;
  }
  .search-bar {
    display: flex;
    width: 100%;
  }
  .search-icon {
    width: 3rem;
    fill: var(--red);
    margin-left: 2rem;
    cursor: pointer;
    display: block;
  }
  .search-icon:hover,
  .menu-icon:hover {
    opacity: 0.5;
  }
  .login-bar {
    text-align: center;
  }
  .menu-header {
    display: none;
  }
  .menu-sidebar {
    display: none;
  }
  .products {
    grid-template-columns: repeat(auto-fill, 13rem);
    gap: 6rem 1rem;
  }
  .products li {
    width: 13rem;
    height: 25rem;
  }

  .product-img {
    width: 13rem;
    height: 13rem;
  }

  .content {
    flex-direction: column;
  }
  .filter-sidebar-container {
    width: 100%;
  }
  .filters-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
